/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

a{
	color: inherit;
	text-decoration: none;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	display: flex;
	justify-content: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
h3{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 100%;

}

.filters {
	display: flex;
	justify-content: center;
	margin-bottom: 3em;
}

#buttons-container {
	width: 585px;
	display: flex;
	justify-content: space-between;
}

button {
	box-sizing: border-box;
    border-radius: 60px;
    border: 1px solid #1D6154; 
	background-color: white;
	font-size: 16px;
	font-family: 'Syne';
	color: #1D6154;
	font-weight: 700;
    padding: 0 19px;
	height: 37px;
	cursor: pointer;
}

button:focus {
	background-color: #1D6154;
	color: white;
}

button.login-button {
    /* Ajoutez ici vos styles spécifiques pour le bouton de connexion */
    width: 179px;
	background-color: #1D6154;
	color: white;
	margin: 50px 0 50px 0;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#modal-add {
	width: 70%;
	margin: auto;
}
#modal-add > * {
	text-align: center;
}
#modal-add h2{
	margin-bottom: 20px;
}
#modal-add form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#modal-add input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#modal-add label {
	margin: 1em 0 1em 0;
}
#modal-add textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;   
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.edit-mode-button {
    cursor: pointer;
	margin-left: 30px;
}

#auth-link a {
    color: #1D6154;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

#auth-link a:hover {
    color: #B1663C;
    text-decoration: underline;
}

/* Style pour la fenêtre modale */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

#modal-add h2,
#manage-images-page h2 {
    font-family: 'Work Sans';
	font-size: 26px;
	color: #000;
	font-weight: 400;
	text-align: center;
}

#add-image-page-button,
#save-image-button {
    background-color: #A7A7A7; 
    color: white; 
	display: block;
    margin: 20px auto; 
	width: 237px;
	height: 36px;
	border: #A7A7A7;
	cursor: pointer;
}

#add-image-page-button:hover,
#save-image-button:hover {
	background-color: #1D6154
}

.button-container{
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 0 15px 0;
}

input[type="file"] {
    display: none;
}

label.custom-file-upload {
	width: 173px;
	height: 36px;
    background-color: #CBD6DC;
    color: #306685;
    font-size: 16px;
    cursor: pointer;
	display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#add-image-page {
    display: flex;
    justify-content: center; 
    flex-direction: column; 
}

#image-category {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.back-button:hover,
.back-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.back-button {
	color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

#image-list {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100px; 
    height: 140px; 
    margin: 10px;
    
}

.image-container img {
    width: 100%;
    height: auto; 
    display: block;
}

.trash-icon {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

/****page de co******/

.login-link{
	font-weight: 600;
}

.mdp-oublié{
	font-weight: 500;
	text-decoration: underline;
	text-align: center;
}